* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #f1f5f8;
  color: #102a42;
  line-height: 1.5;
  font-size: 14px;
}

h2,
h4 {
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 12px;
  letter-spacing: 1.6px;
}

h2 {
  font-size: 32px;
}

h4 {
  font-size: 14px;
}

p {
  margin-bottom: 20px;
  color: #617d98;
}

@media screen and (min-width: 800px) {
  h2 {
    font-size: 40px;
  }
  h4 {
    font-size: 16px;
  }
  body {
    font-size: 16px;
  }

  h2,
  h4 {
    line-height: 1;
  }
}

.section {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

main {
  min-height: 720px;
  display: grid;
  place-items: center;
}
.title {
  text-align: center;
  margin-bottom: 64px;
}
.underline {
  height: 4px;
  width: 80px;
  background: #49a6e9;
  margin-left: auto;
  margin-right: auto;
}
.container {
  width: 80vw;
  max-width: 620px;
}
.review {
  background: white;
  padding: 24px 32px;
  border-radius: 4px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s linear;
  text-align: center;
}
.review:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.img-container {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
}
.person-img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
}
.quote-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  transform: translateY(25%);
  background: #49a6e9;
  color: white;
}
.img-container::before {
  content: "";
  width: 100%;
  height: 100%;
  background: #49a6e9;
  position: absolute;
  top: -4px;
  right: -8px;
  border-radius: 50%;
}
.author {
  margin-bottom: 4px;
}
.job {
  margin-bottom: 8px;
  text-transform: uppercase;
  color: #49a6e9;
  font-size: 13.5px;
}
.info {
  margin-bottom: 12px;
}
.prev-btn,
.next-btn {
  color: #8bcbf9;
  font-size: 20px;
  background: transparent;
  border-color: transparent;
  margin: 0 8px;
  transition: all 0.3s linear;
  cursor: pointer;
}
.prev-btn:hover,
.next-btn:hover {
  color: #49a6e9;
}
.random-btn {
  margin-top: 8px;
  background: #ebf7ff;
  color: #49a6e9;
  padding: 4px 8px;
  text-transform: capitalize;
  border-radius: 4px;
  transition: all 0.3s linear;
  border-color: transparent;
  cursor: pointer;
}
.random-btn:hover {
  background: #49a6e9;
  color: #063251;
}
